li a {
    color: indigo;
    font-size: 2em;
}

li {
    padding: 10px;
    margin: 10px 0;
    font-size: 100px;
}

.pollPage {
    margin: 75px 0 0 50px;
}

body {
    background: white url("images/background.jpg") no-repeat;
}
